/*For benefits-page*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  -webkit-backface-visibility: hidden;
}

/*
* common css
*/
body {
  font: 0.26rem/1.5 "Heiti",sans-serif;
  background: #fff;
  color: #000;
  text-align: justify;
}

.wrapper {
  width: 100%;
  padding: 0.6rem;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  z-index: 1;
}
.wrapper.landscape {
  background-size: 100%;
}

img {
  width: 100%;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.clearfix {
  clear: both;
  display: block;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.error select {
  border: red 1px solid;
}
.error input[type='text'],
.error input[type='email'],
.error input[type='tel'] {
  border: red 1px solid;
}

/*
  button style
*/
button {
  background: #000;
  color: #fff;
  font-size: 0.3rem;
  border: none;
  text-align: center;
}

.btn-close {
  position: absolute;
  right: 0.1rem;
  top: 0.1rem;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0rem auto 0rem;
}
.btn-close:after {
  content: '';
  display: block;
  width: 0.6rem;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0.3rem;
  background: #c0a176;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-close:before {
  content: '';
  display: block;
  width: 0.6rem;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0.3rem;
  background: #c0a176;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*
  css3 animate
*/
.animate {
  animation-duration: 600ms;
  -webkit-animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fade {
  animation-name: fade;
  -webkit-animation-name: fade;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.delay1 {
  animation-delay: 400ms;
  -webkit-animation-delay: 400ms;
}

.delay2 {
  animation-delay: 800ms;
  -webkit-animation-delay: 800ms;
}

.delay3 {
  animation-delay: 1200ms;
  -webkit-animation-delay: 1200ms;
}

.delay4 {
  animation-delay: 1600ms;
  -webkit-animation-delay: 1600ms;
}

.delay5 {
  animation-delay: 2000ms;
  -webkit-animation-delay: 2000ms;
}

/*
form css
*/
input[type="text"],
input[type="tel"],
input[type="email"] {
  border: #141414 1px solid;
  padding: 0.2rem;
  font-size: 0.32rem;
}

select {
  border: #141414 1px solid;
  padding: 0.2rem;
  font-size: 0.32rem;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.4);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.4);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background: transparent;
  color: #efce92;
}

.ajaxpop {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: 5px;
}
.ajaxpop .loading {
  position: absolute;
  width: 2rem;
  height: 1rem;
  top: 50%;
  left: 50%;
  margin-left: -1.1rem;
  margin-top: -0.6rem;
  line-height: 1rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.2rem;
  border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  color: #fff;
}
.ajaxpop .icon-loading {
  display: inline-block;
  position: relative;
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 4px;
  vertical-align: middle;
  border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.4);
}
.ajaxpop .icon-loading:after {
  content: '';
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.popup {
  position: absolute;
  z-index: 101;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.msgbox {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
  background: rgba(0, 0, 0, 0.6);
}
.msgbox .inner {
  background: #fff;
  border-radius: 1px;
  color: #000;
  font-size: 0.3rem;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 3rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.msgbox .msg {
  padding: 0.4rem;
}
.msgbox .btn-alert-ok {
  padding: 0.1rem;
}

/*For custom page*/
.logo {
  width: 3.88rem;
  height: 0.83rem;
  margin: 0.5rem auto;
  padding: 0;
}

hr {
  background: none;
  height: 0;
  overflow: hidden;
  width: 100%;
  margin: 0.2rem auto;
  border: none;
  border-bottom: #000 1px dashed;
}

.title {
  text-align: center;
  font-size: 0.36rem;
  margin: 0.4rem auto 0.4rem;
}

.subtitle {
  font-size: 0.32rem;
  margin: 0.2rem 0 0.2rem;
}

.btn-submit {
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  text-align: center;
  font-size: 0.3rem;
  background: #000;
  color: #fff;
  margin: 0.3rem auto;
}

.wrapper {
  padding: 0;
}

.middel-block {
  width: 90vw;
  margin: 0 auto;
}

.logo {
  margin: 0.5rem auto 0;
}

.line {
  margin: 0.2rem 0 0.3rem;
}

.title {
  margin: 0;
  font-size: 0.36rem;
}

.des {
  font-size: 0.36rem;
  text-align: center;
}

.getbenefits-page .wrapper {
  width: 85vw;
}

#form-contact .tips {
  font-size: 0.24rem;
  color: #818181;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
  text-align: center;
}
#form-contact .input-box {
  margin-bottom: 0.2rem;
}
#form-contact .input-box.error input[type="text"], #form-contact .input-box.error input[type="tel"] {
  border: red 1px solid;
}
#form-contact input[type="text"], #form-contact input[type="tel"] {
  border: #313131 1px solid;
  border-radius: 5px;
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  box-sizing: border-box;
}
