/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  -webkit-backface-visibility: hidden;
}

/*
* common css
*/
body {
  font: 0.26rem/1.5 "Heiti",sans-serif;
  background: #fff;
  color: #000;
}

@-webkit-keyframes fade {}
@-moz-keyframes fade {}
@-o-keyframes fade {}
.wrapper {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  z-index: 1;
}
.wrapper.landscape {
  background-size: 100%;
}

img {
  width: 100%;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.clearfix {
  clear: both;
  display: block;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.error select {
  border: red 1px solid;
}
.error input[type='text'],
.error input[type='email'],
.error input[type='tel'] {
  border: red 1px solid;
}

/*
  button style
*/
button {
  background: #000;
  color: #fff;
  font-size: 0.3rem;
  border: none;
  text-align: center;
}

.btn-close {
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  margin: 0rem auto 0rem;
}
.btn-close:after {
  content: '';
  display: block;
  width: 0.8rem;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background: #c0a176;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.btn-close:before {
  content: '';
  display: block;
  width: 0.8rem;
  height: 1px;
  position: absolute;
  left: 0;
  top: 0.4rem;
  background: #c0a176;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*
  css3 animate
*/
.animate {
  animation-duration: 600ms;
  -webkit-animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fade {
  animation-name: fade;
  -webkit-animation-name: fade;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.delay1 {
  animation-delay: 400ms;
  -webkit-animation-delay: 400ms;
}

.delay2 {
  animation-delay: 800ms;
  -webkit-animation-delay: 800ms;
}

.delay3 {
  animation-delay: 1200ms;
  -webkit-animation-delay: 1200ms;
}

.delay4 {
  animation-delay: 1600ms;
  -webkit-animation-delay: 1600ms;
}

.delay5 {
  animation-delay: 2000ms;
  -webkit-animation-delay: 2000ms;
}

/*
form css
*/
input[type="text"],
input[type="tel"],
input[type="email"] {
  border: #141414 1px solid;
  padding: 0.2rem;
  font-size: 0.32rem;
}

select {
  border: #141414 1px solid;
  padding: 0.2rem;
  font-size: 0.32rem;
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(0, 0, 0, 0.4);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.4);
}

:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background: transparent;
  color: #efce92;
}

.ajaxpop {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-right: 5px;
}
.ajaxpop .loading {
  position: absolute;
  width: 2rem;
  height: 1rem;
  top: 50%;
  left: 50%;
  margin-left: -1.1rem;
  margin-top: -0.6rem;
  line-height: 1rem;
  background: rgba(0, 0, 0, 0.8);
  padding: 0.2rem;
  border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: center;
  color: #fff;
}
.ajaxpop .icon-loading {
  display: inline-block;
  position: relative;
  width: 0.3rem;
  height: 0.3rem;
  margin-right: 4px;
  vertical-align: middle;
  border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 3px solid rgba(255, 255, 255, 0.4);
}
.ajaxpop .icon-loading:after {
  content: '';
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  border-radius: 100%;
  -ms-border-radius: 100%;
  -moz-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-border-radius: 100%;
  border: 3px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.popup {
  position: absolute;
  z-index: 101;
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.msgbox {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
  background: rgba(0, 0, 0, 0.6);
}
.msgbox .inner {
  background: #fff;
  border-radius: 1px;
  color: #000;
  font-size: 0.3rem;
  text-align: center;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 3rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.msgbox .msg {
  padding: 0.4rem;
}
.msgbox .btn-alert-ok {
  padding: 0.1rem;
}

/*For custom page*/
.logo {
  width: 3.88rem;
  height: 0.83rem;
  margin: 0 auto;
  padding: 0.5rem 0 0.1rem;
}

hr {
  background: none;
  height: 0;
  overflow: hidden;
  width: 100%;
  margin: 0.2rem auto;
  border: none;
  border-bottom: #000 1px dashed;
}

.title {
  text-align: center;
  font-size: 0.36rem;
  margin: 0.4rem auto 0.4rem;
}

.subtitle {
  font-size: 0.32rem;
  margin: 0.2rem 0 0.2rem;
}

/*for online-booking page*/
#form-contact select {
  width: 100%;
  margin-bottom: 0.2rem;
  background: transparent;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.4);
  background: url("../images/arrow-down.png") 96% center no-repeat;
  background-size: auto 20%;
}
#form-contact select:focus {
  outline: none;
}
#form-contact input[type="text"],
#form-contact input[type="tel"],
#form-contact input[type="email"] {
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 0.2rem;
}
#form-contact .input-box-contact {
  font-size: 0.32rem;
  margin: 0.4rem 0;
}
#form-contact #youradvice {
  width: 100%;
  border: #000 1px solid;
  border-radius: 4px;
  font-size: 0.32rem;
  padding: 0.2rem;
  box-sizing: border-box;
}
#form-contact .input-box-youradvice label {
  display: block;
  font-size: 0.32rem;
  margin: 0.2rem 0;
}
#form-contact .btn-submit {
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  text-align: center;
  font-size: 0.3rem;
  background: #000;
  color: #fff;
  margin: 0.3rem auto;
}
#form-contact .form-service .input-box {
  position: relative;
  border-bottom: #000 1px solid;
  margin-bottom: 0.2rem;
}
#form-contact .form-service .input-box:before {
  content: '';
  display: block;
  position: absolute;
  top: 0.35rem;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 100%;
  background: #a1a1a1;
}
#form-contact .form-service .input-box.input-box-youradvice {
  border: none;
}
#form-contact .form-service .input-box.input-box-youradvice:before {
  display: none;
}
#form-contact .form-service select {
  border: none;
  border-radius: 0;
  margin: 0;
}
#form-contact .input-box-booking-time {
  position: relative;
  overflow: hidden;
}
#form-contact .input-box-booking-time select {
  width: 60%;
  float: right;
}
#form-contact .input-box-booking-time label {
  position: absolute;
  top: 0.2rem;
  left: 0.3rem;
  font-size: 0.32rem;
}

.page-product {
  background: #ebebeb;
  padding: 0.1rem;
}
.page-product .wrapper {
  position: absolute;
  width: calc(100% - 0.2rem);
  height: calc(100% - 0.2rem);
  left: 0.1rem;
  top: 0.1rem;
  box-sizing: border-box;
  background: #fff;
  color: #000;
  overflow: auto;
}
.page-product hr {
  border-bottom: #b0b0b0 1px dotted;
}
.page-product .popup .inner {
  position: absolute;
  width: 90%;
  font-size: 0.24rem;
  color: #818181;
}
.page-product .popup .inner .msg {
  height: 100%;
  overflow: auto;
  padding: 0;
  max-height: 10rem;
}
.page-product .popup .inner .product-image {
  height: 2rem;
}
.page-product .popup .inner .product-image img {
  margin: 0 auto;
  width: auto;
  height: 100%;
}
.page-product .popup .inner .product-summary {
  margin: 0.2rem 0;
  text-align: justify;
}
.page-product .popup .inner .clearfix {
  height: 0.2rem;
}
.page-product .popup .inner .product-price,
.page-product .popup .inner .product-volume {
  position: relative;
  display: inline;
  clear: both;
  padding: 0 0.5rem;
}
.page-product .popup .inner .product-price span,
.page-product .popup .inner .product-volume span {
  background: #fff;
  position: relative;
  padding: 0 0.25rem;
  z-index: 2;
}
.page-product .popup .inner .product-price:before,
.page-product .popup .inner .product-volume:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 1px;
  background: #333;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.page-product .popup .inner .product-price span {
  color: #000;
}
.page-product .popup .inner .btn-close {
  text-indent: -999em;
  position: absolute;
  top: 0.1rem;
  right: 0.1rem;
}
.page-product .popup .inner .btn-close:before, .page-product .popup .inner .btn-close:after {
  background: #515151;
}

.catagory-black .logo {
  padding: 0.5rem 0 0.5rem;
}
.catagory-black .msgbox {
  background: rgba(0, 0, 0, 0.8);
}
.catagory-black .inner {
  border: #fff 1px solid;
}
.catagory-black .products-list .item-product .product-name {
  color: #fff;
}
.catagory-black .products-list {
  background: #000;
}
.catagory-black .msg {
  padding: 0 0 0.4rem;
}
.catagory-black .product-image {
  width: 100%;
  background: #000;
  padding: 0.2rem 0;
}
.catagory-black .product-summary {
  padding: 0.1rem 0.4rem;
}
.catagory-black .btn-close:before, .catagory-black .btn-close:after {
  background: #afafaf !important;
}

.products-list .item-product {
  position: relative;
  min-height: 3rem;
  padding: 1rem;
  border-bottom: #b0b0b0 1px dotted;
}
.products-list .item-product .product-image {
  position: absolute;
  width: 1.22rem;
  height: 2.57rem;
  right: 0.6rem;
  bottom: 1rem;
}
.products-list .item-product .product-name,
.products-list .item-product .product-des {
  width: 4rem;
}
.products-list .item-product .product-name {
  font-size: 0.3rem;
  color: #000;
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: bold;
}
.products-list .item-product .product-des {
  margin: 0.3rem 0;
  font-size: 0.24rem;
  color: #818181;
}
.products-list .item-product .btn-details {
  width: 1.67rem;
  height: 0.43rem;
  color: #fff;
  text-align: center;
  font-size: 0.22rem;
  line-height: 0.43rem;
  background: #d0a972;
  border-radius: 3px;
}

.vipservice .wrapper {
  width: 96%;
}

.slider {
  margin: 2% 0;
}

.slidesjs-navigation {
  display: none;
}

.slidesjs-pagination {
  text-align: center;
}

.slidesjs-pagination li {
  display: inline-block;
  margin: 0.2rem 0.1rem;
}

.slidesjs-pagination li a {
  display: block;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 100%;
  text-indent: -999em;
  background: #eceded;
}

.slidesjs-pagination li a.active {
  background: #d9ba8f;
}

.btn-booking {
  width: 80%;
  height: 0.9rem;
  line-height: 0.9rem;
  margin: 1em auto;
  text-align: center;
  background: #000;
  color: #fff;
}

/*For qrcode page*/
.page-qrcode .title {
  font-size: 0.36rem;
  font-weight: bold;
  margin-bottom: 0;
}
.page-qrcode .subtitle {
  margin-top: 0.1rem;
  font-size: 0.3rem;
  color: #818181;
  text-align: center;
}
.page-qrcode .qrcode {
  width: 2.7rem;
  margin: 0 auto;
  overflow: hidden;
}
.page-qrcode .qrcode img {
  width: 100%;
}
.page-qrcode .line {
  border-bottom: #b3b3b3 1px solid;
  margin: 0.6rem auto;
}

.page-storeinfo .title {
  font-size: 0.46rem;
}
.page-storeinfo .title2 {
  font-weight: bold;
  text-align: left;
  font-size: 0.3rem;
  margin: 0.4rem 0 0.2rem;
}
.page-storeinfo .info {
  font-size: 0.24rem;
  line-height: 2;
}

#__bs_notify__ {
  display: none !important;
}
