<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>导航页面-尊享服务-娇兰香街68号</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="/app/css/style.css"/>
    <!-- endinject -->
    <style type="text/css">
        .navigation li a{
            display: block;
            padding: 0.1rem;
            margin: 0.5rem;
        }
    </style>
    <!-- inject:js -->
    <script type="text/javascript" src="../js/lib/jquery.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.slides.js"></script>
    <script type="text/javascript" src="../js/rem.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/vip.js"></script>
    <!-- endinject -->

</head>
<body>
<div class="wrapper">
    <ul class="navigation">
        <li class="item"><a href="online-booking.html" target="_blank">在线预约</a></li>
        <li class="item"><a href="qrcode.html" target="_blank">关注Guerlain</a></li>
        <li class="item"><a href="vip-service.html" target="_blank">VIP服务</a></li>
        <li class="item"><a href="restaurant-service.html" target="_blank">餐厅服务</a></li>
        <li class="item"><a href="spa-service.html" target="_blank">水疗中心</a></li>
        <li class="item"><a href="special-product.html" target="_blank">独家提供</a></li>
        <li class="item"><a href="star-product.html" target="_blank">明星产品</a></li>
        <li class="item"><a href="storeinfo.html" target="_blank">店铺信息</a></li>
    </ul>
</div>
</body>
</html>