<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>尊享服务-在线预约-娇兰香街68号</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="/app/css/style.css"/>
    <!-- endinject -->

    <!-- inject:js -->
    <script type="text/javascript" src="../js/lib/zepto.min.js"></script>
    <!--<script type="text/javascript" src="../js/lib/pre-loader.js"></script>-->
    <script type="text/javascript" src="../js/rem.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/api.js"></script>
    <script type="text/javascript" src="../js/controller.js"></script>

    <!-- endinject -->
</head>
<body class="page-online-booking">
<div class="wrapper">
    <div class="top-title logo">
        <img src="/app/images/logo.png" alt=""/>
    </div>
    <hr class="top-line"/>
    <h2 class="title">
        请填写以下内容
    </h2>
    <form action="" id="form-contact">
        <div class="form-information">
            <div class="input-box input-box-callname">
                <select name="callname" id="input-callname">
                    <option value="">称呼</option>
                    <option value="先生">先生</option>
                    <option value="女士">女士</option>
                </select>
            </div>
            <div class="input-box input-box-surname">
                <input type="text" id="input-surname" placeholder="姓"/>
            </div>
            <div class="input-box input-box-name">
                <input type="text" id="input-name" placeholder="名"/>
            </div>
            <div class="input-box input-box-mobile">
                <input type="tel" id="input-mobile" placeholder="联系电话"/>
            </div>
            <div class="input-box input-box-email">
                <input type="email" id="input-email" placeholder="电子邮件"/>
            </div>
        </div>
        <h3 class="subtitle">您期望的联系方式</h3>
        <div class="input-box input-box-contact">
            <label for="radio-email">
                <input type="radio" id="radio-email" name="input-contact" checked value="电子邮件"/>
                电子邮件
            </label>
            <label for="radio-mobile">
                <input type="radio" id="radio-mobile" name="input-contact" value="联系电话"/>
                联系电话
            </label>
        </div>
        <hr/>
        <h2 class="title">
            请选择服务
        </h2>
        <div class="form-service">
            <div class="input-box input-box-select-1">
                <select name="select-1" id="input-select-1">
                    <option value="护肤美容1">护肤美容1</option>
                    <option value="护肤美容2">护肤美容2</option>
                </select>
            </div>
            <div class="input-box input-box-select-2">
                <select name="select-2" id="input-select-2">
                    <option value="化妆1">化妆1</option>
                    <option value="化妆2">化妆2</option>
                </select>
            </div>
            <div class="input-box input-box-select-3">
                <select name="select-3" id="input-select-3">
                    <option value="定制香水1">定制香水1</option>
                    <option value="定制香水2">定制香水2</option>
                </select>
            </div>
            <div class="input-box input-box-booking-time">
                <label for="input-booking-time">预约日期</label>
                <select name="booking-time" id="input-booking-time">
                </select>
            </div>
            <div class="input-box input-box-youradvice">
                <label for="youradvice">请告诉我们您的特殊要求</label>
                <textarea name="youradvice" id="youradvice" cols="30" rows="5">

                </textarea>
            </div>
        </div>
        <button class="btn-submit">发送</button>


    </form>

</div>
</body>
</html>