<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>娇兰香街68号</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="/app/css/style.css"/>
    <!-- endinject -->

    <!-- inject:js -->
    <script type="text/javascript" src="../js/rem.js"></script>
    <!-- endinject -->
</head>
<body class="page-qrcode">
<div class="wrapper">
    <div class="top-title logo">
        <img src="/app/images/logo.png" alt=""/>
    </div>
    <hr class="top-line"/>
    <h2 class="title">
        关注Guerlain法国娇兰官方微博
    </h2>
    <h3 class="subtitle">感受女性至上的优雅之美</h3>
    <div class="qrcode">
        <img src="/app/images/qrcode-1.png" alt=""/>
    </div>
    <hr class="line"/>
    <h2 class="title">
        关注Guerlain法国娇兰官网
    </h2>
    <h3 class="subtitle">传奇魅力正在上演</h3>
    <div class="qrcode">
        <img src="/app/images/qrcode-2.png" alt=""/>
    </div>
    <hr class="line"/>

</div>
</body>
</html>