<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>VIP服务-尊享服务-娇兰香街68号</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="/app/css/style.css"/>
    <!-- endinject -->

    <!-- inject:js -->
    <script type="text/javascript" src="../js/lib/jquery.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.slides.js"></script>
    <script type="text/javascript" src="../js/rem.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/vip.js"></script>
    <!-- endinject -->
</head>
<body class="vipservice">
<div class="wrapper">
    <div class="slider" >
        <ul class="slideshow">
            <li class="item"><img src="/app/images/restaurant-1.jpg" alt=""/></li>
            <li class="item"><img src="/app/images/vip-1.jpg" alt=""/></li>
            <li class="item"><img src="/app/images/vip-1.jpg" alt=""/></li>
        </ul>
    </div>
    <p class="desc">
        为了唤醒鼻子和激活味蕾，一个关于香水和美食的对话在香榭丽舍大道68号缓缓展开。钟情于玫瑰的法国娇兰第五代调香师THIERRY WASSER在谈到香水创作时表示：香水的意义在于传达一个故事，可能有怀旧之感，但绝不会有悲伤，他们有积极的能量。而于1991年加入LE GRAND VEFOURIN的米其林星级GUY MARTIN主厨表示：烹饪与香水都能让人们更好更快乐。烹饪是要分享的，我们的领域的共同点是，总是带上一丝愉悦的调调。<br>

        预约电话：01 45 62 54 10<br>
        点击发现菜单
    </p>
    <div class="btn-booking" onclick="gotoBookingPage('Le 68餐厅','')">预约</div>
</div>
</body>
</html>