<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>VIP服务-尊享服务-娇兰香街68号</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="/app/css/style.css"/>
    <!-- endinject -->

    <!-- inject:js -->
    <script type="text/javascript" src="../js/lib/jquery.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.slides.js"></script>
    <script type="text/javascript" src="../js/rem.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/vip.js"></script>

    <!-- endinject -->
</head>
<body class="vipservice">
<div class="wrapper">
    <div class="slider" >
        <ul class="slideshow">
            <li class="item"><img src="/app/images/spa-1.jpg" alt=""/></li>
            <li class="item"><img src="/app/images/spa-2.jpg" alt=""/></li>
        </ul>
    </div>
    <p class="desc">
        法国娇兰水疗中心目前提供了与品牌哲学吻合的精致“定制护理”，为客人提供最妥帖的专业服务。在水疗中心，护理流程全为量身创造并融合法国娇兰专业产品；将独特的美容方案及博采东西方之长的美容按摩流程结合，由始至终为所有客人带来极具个性魅力的体验，将法国娇兰水疗中心“自由奔放，大胆创新”的宗旨完整诠释。
    </p>
    <div class="btn-booking" onclick="gotoBookingPage('水疗中心','')">预约</div>


</div>
</body>
</html>