<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>娇兰香街68号</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="/app/css/style.css"/>
    <!-- endinject -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80489545-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- inject:js -->
    <script type="text/javascript" src="../js/lib/jquery.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.slides.js"></script>
    <script type="text/javascript" src="../js/rem.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/vip.js"></script>

    <!-- endinject -->
</head>
<body class="spaservice">
<div class="wrapper">
    <div class="slider" >
        <ul class="slideshow">
            <li class="item"><img src="/app/images/spa-1.jpg" alt=""/></li>
            <li class="item"><img src="/app/images/spa-2.jpg" alt=""/></li>
        </ul>
    </div>
    <p class="desc">
        娇兰之家的水疗会所位于香榭丽舍大道心脏，是一个真正的宁静天堂。
    </p>
    <p class="desc">法国娇兰第一家美容水疗会所在1939年诞生于香榭丽舍大街68号的娇兰之家。后经重新改造的水疗会所，保留了优美动人的古老装潢，并融入在全新精品店的设计之中。</p>
    <p class="desc">我们提供超凡的精致护理，内容包括：</p>
    <ul class="lists desc">
        <li class="item">Beauty Pulp美容面部按摩</li>
        <li class="item">“法国娇兰按摩”</li>
        <li class="item">抗衰老紧致疗程</li>
        <li class="item">纤细疗程</li>
        <li class="item">肌肉疗程</li>
        <li class="item">背部疗程</li>
        <li class="item">身体柔顺疗程</li>
        <li class="item">女性疗程</li>
        <li class="item">腹部舒适疗程</li>
        <li class="item">基本能量疗程</li>
        <li class="item">御廷放松疗程</li>
        <li class="item">身体意识和谐疗程</li>
        <li class="item">身体倾听疗程</li>
        <li class="item">手部疗程</li>
        <li class="item">足部疗程</li>
    </ul>
    <div class="btn-booking" onclick="gotoBookingPage('水疗会所','')">预约</div>


</div>
</body>
</html>