<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>明星产品-香榭68号-娇兰香街68号</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="/app/css/style.css"/>
    <!-- endinject -->

    <!-- inject:js -->
    <script type="text/javascript" src="../js/lib/zepto.min.js"></script>
    <script type="text/javascript" src="../js/rem.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/api.js"></script>
    <script type="text/javascript" src="../js/special-product.js"></script>

    <!-- endinject -->
</head>
<body class="page-special-product page-product catagory-black">
<div class="wrapper">
    <div class="top-title logo">
        <img src="/app/images/logo.png" alt=""/>
    </div>
    <ul class="products-list">
        <li class="item-product">
            <div class="product-image">
                <img src="/app/images/product-1.png" alt=""/>
            </div>
            <div class="product-name">SPIRITUEUSE DOUBLE VANILLEEAU DE PARFUM</div>
            <div class="product-des">Une liqueur de peau, enivrante et addictive</div>
            <div class="btn-details">了解更多</div>
        </li>
        <li class="item-product">
            <div class="product-image">
                <img src="/app/images/product-1.png" alt=""/>
            </div>
            <div class="product-name">SPIRITUEUSE DOUBLE VANILLEEAU DE PARFUM</div>
            <div class="product-des">Une liqueur de peau, enivrante et addictive</div>
            <div class="btn-details">了解更多</div>
        </li>
        <li class="item-product">
            <div class="product-image">
                <img src="/app/images/product-1.png" alt=""/>
            </div>
            <div class="product-name">SPIRITUEUSE DOUBLE VANILLEEAU DE PARFUM</div>
            <div class="product-des">Une liqueur de peau, enivrante et addictive</div>
            <div class="btn-details">了解更多</div>
        </li>
    </ul>
</div>
</body>
</html>