<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>店铺信息-发现我们</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="/app/css/style.css"/>
    <!-- endinject -->

    <!-- inject:js -->
    <script type="text/javascript" src="../js/rem.js"></script>

    <!-- endinject -->
</head>
<body class="page-storeinfo">
<div class="wrapper">
    <h2 class="title">
        店铺信息－发现我们
    </h2>
    <hr class="top-line"/>
    <div class="info-list">
        <h3 class="title2">营业时间：</h3>
        <p class="info">
            精品店10:30-20:00<br>
            水疗中心09:00-20:00<br>
            68号餐厅10:30-23:00
        </p>
    </div>
    <div class="info-list">
        <h3 class="title2">娇兰精品：</h3>
        <p class="info">
            在香榭丽舍大街68号，法国娇兰将向你呈现彩妆、护肤、香氛、精致餐点、怡人SPA…等娇兰经典产品及服务。
        </p>
    </div>
    <div class="info-list">
        <h3 class="title2">交通方式：</h3>
        <p class="info">
            香榭丽舍大道位于凯旋门以及卢浮宫的中轴线上，可以乘坐地铁1、2、3号线到Charles de Gaulle - Étoile站下车。
        </p>
    </div>



</div>
</body>
</html>