<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>VIP服务-尊享服务-娇兰香街68号</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="/app/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/app/css/accordion.css"/>
    <!-- endinject -->

    <!-- inject:js -->
    <script type="text/javascript" src="../js/lib/jquery.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.slides.js"></script>
    <script type="text/javascript" src="../js/lib/pana-accordion.js"></script>
    <!--<script type="text/javascript" src="../js/lib/shake.js"></script>-->
    <script type="text/javascript" src="../js/rem.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/vip.js"></script>
    <!--<script type="text/javascript" src="../js/api.js"></script>-->
    <!--<script type="text/javascript" src="../js/controller.js"></script>-->

    <!-- endinject -->
</head>
<body class="vipservice">
<div class="wrapper">
    <div class=" " >
        <ul class="slideshow">
            <li class="item"><img src="/app/images/arrow-down.png" alt=""/></li>
            <li class="item"><img src="/app/images/product-1.png" alt=""/></li>
            <li class="item"><img src="/app/images/logo.png" alt=""/></li>
        </ul>
    </div>
    <p class="desc">
        随着法国娇兰对服务不断的升级与完善，您在香榭丽舍大街68号的旅行体验会更加丰富：这里的私人导购随时为您解决购物难题；具有丰富经验的调香师、彩妆师和美容专家聚集于此，提供全方位的美容建议。在这里，您可以体验法国娇兰独有的雕刻和刺绣定制服务。在香水瓶刻上首字母、名字、日期，以及信息，或者为唇膏附上独特标志，都将成为个性化纪念品。
    </p>
    <h3 class="title">高级定制香氛</h3>
    <p class="">
        法国娇兰之家向年龄满七岁以上的年轻人介绍香水制作艺术，并为大家颁发“法国娇兰后辈”学徒证书，成就每个客人的香氛梦想！
    </p>




</div>
</body>
</html>