<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>店铺信息-发现我们</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="/app/css/style.css"/>
    <!-- endinject -->

    <!-- inject:js -->
    <script type="text/javascript" src="../js/rem.js"></script>

    <!-- endinject -->
</head>
<body class="page-storeinfo">
<div class="wrapper">
    <h2 class="title">
        店铺信息－发现我们
    </h2>
    <hr class="top-line"/>
    <div class="info-list">
        <h3 class="title2">营业时间：</h3>
        <p class="info">
            精品店:<br>周一至周日
            <br>09:00-19:30<br><br>
            水疗中心:<br>
            周一至周三，周六<br>
            09:00-19:00<br>
            周四，周五<br>
            09:00-20:00<br>
            周日休息<br><br>
            68号餐厅:<br>周一至周日<br>
            10:00-23:00

        </p>
    </div>
    <div class="info-list">
        <h3 class="title2">联系电话：</h3>
        <p class="info">
            精品店：01 45 62 11 21<br>
            水疗中心：01 45 62 11 21<br>
            餐厅：01 45 62 54 10
        </p>
    </div>
    <div class="info-list">
        <h3 class="title2">娇兰精品：</h3>
        <p class="info">
            在香榭丽舍大街68号，法国娇兰将向你呈现彩妆、护肤、香氛、精致餐点、怡人SPA…等娇兰经典产品及服务。
        </p>
    </div>
    <div class="info-list">
        <h3 class="title2">交通方式：</h3>
        <p class="info">
            香榭丽舍大道位于凯旋门以及卢浮宫的中轴线上，<br>
            地铁1、9号线 Franklin D. Roosevelt 站；<br>
            1号线 George V 站；<br>
            9号线 Saint Philippe du Roule 站。
        </p>
    </div>



</div>
</body>
</html>