<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>娇兰香街68号</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" >
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- inject:css -->
    <link rel="stylesheet" type="text/css" href="/app/css/style.css"/>
    <!-- endinject -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-80489545-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!-- inject:js -->
    <script type="text/javascript" src="../js/lib/jquery.js"></script>
    <script type="text/javascript" src="../js/lib/jquery.slides.js"></script>
    <script type="text/javascript" src="../js/rem.js"></script>
    <script type="text/javascript" src="../js/common.js"></script>
    <script type="text/javascript" src="../js/vip.js"></script>

    <!-- endinject -->
</head>
<body class="vipservice">
<div class="wrapper">
    <!-- 香水邀约 -->
    <div class="slider" >
        <img src="/app/images/vip/vip-1.jpg" alt=""/>
    </div>
    <h3 class="title">香水邀约</h3>
    <p class="desc">
        法国娇兰通过独一无二的咨询服务，倾听您的心声、挖掘独家记忆，以此为契机，帮您找到自己挚爱的香水味道。<br>
    </p>
    <div class="price">105欧元/1小时</div>
    <div class="btn-booking" onclick="gotoBookingPage('VIP服务','香水邀约')">预约</div>
    <!-- 妆容打造-->
    <div class="slider" >
        <img src="/app/images/vip/vip-2.jpg" alt=""/>
    </div>
    <h3 class="title">妆容打造</h3>
    <p class="desc">
        如果您需要参加特殊的场合或者想让自己有一点变化，我们专业的化妆师会为你美丽变身。
    </p>
    <div class="price">105欧元/1小时</div>
    <div class="btn-booking" onclick="gotoBookingPage('VIP服务','妆容打造')">预约</div>

    <!-- 美妆课堂-->
    <div class="slider" >
        <img src="/app/images/vip/vip-3.jpg" alt=""/>
    </div>
    <h3 class="title">美妆课堂</h3>
    <p class="desc">
        这是法国娇兰的专家们展示独门技艺的时刻，他们会告诉您如何打造精致妆容，衬托自然美感，并在如何提亮肤色、提升双眸魅力、雕塑嘴唇和塑造完美日常妆容上给您专业的建议。 <br>
    </p>
    <div class="price">155欧/1小时30分钟</div>
    <div class="btn-booking" onclick="gotoBookingPage('VIP服务','美妆课堂')">预约</div>

    <!-- 护肤预约-->
    <div class="slider" >
        <img src="/app/images/vip/vip-4.jpg" alt=""/>
    </div>
    <h3 class="title">护肤预约</h3>
    <p class="desc">
        法国娇兰美容专家将为您设计理想的护肤流程，根据您的护肤需求，呈上适合您的精致方案。<br>
    </p>
    <div class="price">70欧/45分钟</div>
    <div class="btn-booking" onclick="gotoBookingPage('VIP服务','护肤预约')">预约</div>

    <!-- 导游服务-->
    <div class="slider" >
        <img src="/app/images/vip/vip-5.jpg" alt=""/>
    </div>
    <h3 class="title">导游服务</h3>
    <p class="desc">
        娇兰之家展示了法国娇兰最富有创造力的作品，这里犹如一座体会地道法式生活艺术的博物馆，将法国娇兰的美丽杰作们陈列其间。如同任何一座博物馆，娇兰之家有偿提供门店的导游服务。只需一个半小时，就可以详细了解精品店的每个角落和所有细节。
    </p>
    <div class="btn-booking" onclick="gotoBookingPage('VIP服务','导游服务')">预约</div>

    <!--  购物助理 -->
    <h3 class="title">购物助理</h3>
    <p class="desc">
        娇兰之家的美容顾问们以诚挚周到的服务迎接您的到来。在宾客探访精品店的过程中，美容顾问将陪同左右，根据他们的需要与需求，提供专业的建议。
    </p>
    <div class="btn-booking" onclick="gotoBookingPage('VIP服务','购物助理')">预约</div>
</div>
</body>
</html>